html {
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

#BArK_container {
	font-size: 80%;
}

#BArK_container::after {
	content: "";
	display: table;
	clear: both;
}

#BArK_container > div {
	float: left;
}

#BArK_container > div > *::before {
	display: block;
	font-size: 90%;
	color: white;
	background-color: #999999;
	display: block;
	text-align: center;
	padding: 2px;
}

#BArK_container > div > * {
	min-width: 300px;
	border: solid 1px black;
	min-height: 40px;
	margin: 10px;
}

#BArK_container > div + div > * {
	min-width: 600px;
}

#BArK_tree::before {
	content: "Explore";
}

#BArK_tree {
	padding: 0px;
	list-style-type: none;
	user-select: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

#BArK_tree ul {
	list-style-type: none;
	padding-inline-start: 1.5em;
}

#BArK_tree span {
	min-width: 1.8em;
	display: inline-block;
}

#BArK_tree .caret {
	cursor: pointer;
	user-select: none;
}

#BArK_tree .caret::before {
	content: "\2005\25B6";
	color: black;
	display: inline-block;
}

#BArK_tree .caret-down::before {
	content: "\2005\25BC";
}

#BArK_tree .nested {
	display: none;
}

#BArK_tree .active {
	display: block;
}

#BArK_tree li {
	color: black;
}

#BArK_tree li.select {
	color: DodgerBlue;
}

#BArK_toolbox::before {
	content: "Toolbox";
}

#BArK_toolbox div {
	width: 100px;
}

#BArK_toolbox div.select {
	color: DodgerBlue;
}

#BArK_viewer::before {
	content: "Viewer";
}

#BArK_tool::before {
	content: attr(data-name);
}