html {
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	background-color: #cccccc;
}

/* BArK */
#BArK_container {
	font-size: 80%;
}

#BArK_container::after {
	content: "";
	display: table;
	clear: both;
}

/* Columns */
#BArK_container > div {
	float: left;
}

/* Containers */
#BArK_container > div > div::before {
	content: attr(data-name);
	display: block;
	font-size: 90%;
	color: white;
	background-color: #999999;
	display: block;
	text-align: center;
	padding: 2px;
}

#BArK_container > div > div {
	min-width: 300px;
	border: solid 1px black;
	min-height: 40px;
	margin: 10px;
	background-color: white;
}

/* component */
#BArK_container > div > div > * {
	margin: 3px;
}

/* 2nd Column */
#BArK_container > div + div > * {
	min-width: 450px;
}

#BArK_tree {
	padding: 0px;
	list-style-type: none;
	user-select: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

#BArK_tree ul {
	list-style-type: none;
	padding-inline-start: 1.5em;
}

#BArK_tree span {
	min-width: 1.8em;
	display: inline-block;
}

#BArK_tree .caret {
	cursor: pointer;
	user-select: none;
}

#BArK_tree .caret::before {
	content: "\2005\25B6";
	color: black;
	display: inline-block;
}

#BArK_tree .caret-down::before {
	content: "\2005\25BC";
}

#BArK_tree .nested {
	display: none;
}

#BArK_tree .active {
	display: block;
}

#BArK_tree li {
	color: black;
}

#BArK_container li.select {
	color: DodgerBlue;
}

#BArK_container div.select {
	color: DodgerBlue;
}

#BArK_container canvas.list {
	border: 5px solid transparent;
}

#BArK_container canvas.list.select {
	border-color: DodgerBlue;
}

#BArK_container .button {
	min-width: 80px;
	height: 20px;
	background-color: MediumBlue;
	color: white;
	display: inline-block;
	margin: 3px;
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	border-radius: 3px;
}

#BArK_container .button:hover {
	background-color: DodgerBlue;
}